{{extend './layouts/layout.html'}}

{{block 'header'}}
<style>
    @import url('/public/css/hotelList.css');
</style>
{{/block}}

{{block 'body'}}
<div class="father">
<div class="flex">
    <form name="input" action="/register" method="POST">
        username:
        <label>
            <input type="text" name="username" required>
        </label>
        <br>
        password:
        <label>
            <input type="password" name="password" required>
        </label>
        <br>
        confirm password:
        <label>
            <input type="password" name="cfmPassword" required>
        </label>
        <br>
        <input type="submit" value="Register" />
        <br>
        {{if registerMessage}}
            <font color="#dc143c">
            {{registerMessage}}
            <br>
            </font>
        {{/if}}
        <a href="/login">Login now</a>
    </form>
</div>
</div>
{{/block}}
